- list_works.each do |work|
  .gallery-work__item
    = react_component :gallery_works,
      sensitive: work.sensitive?,
      visible: !work.sensitive?,
      lang: work.language,
      height: 600,
      media: work.ordered_media_attachments.map { |a| ActiveModelSerializers::SerializableResource.new(a, serializer: REST::MediaAttachmentSerializer).as_json }
